{% extends "base.html" %}
{% block content %}
<!--extra-->
<div class="page-wrapper">
  <div class="content">
    <div class="modal fade" id="modal-lg">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Add Products</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form role="form" action="/productinsert" method="POST">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Product Name">
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="Ref_no">Ref No</label>
                    <input type="number" class="form-control" id="ref_no" name="ref_no" placeholder="Enter Ref No">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="price">Unit Price</label>
                    <input type="number" class="form-control" id="price" name="price" placeholder="Enter Price">
                  </div>
                </div>
              </div>
              
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="s_qty">Stock Qty.</label>
                    <input type="number" class="form-control" id="s_qty" name="s_qty" placeholder="Enter Quantity">
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="unit">Select Unit</label>
                    <input type="number" class="form-control" id="unit" name="unit" placeholder="Enter Select Unit">
                  </div>
                </div>
              </div>



            </div>

            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Save</button>
            </div>

          </form>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-3">
        <h4 class="page-title">PRODUCTS</h4>
      </div>
      <div class="col-sm-8 col-9 text-right m-b-20">
        <a href="" class="btn btn btn-primary btn-rounded float-right" data-toggle="modal" data-target="#modal-lg"><i
            class="fa fa-plus"></i>Add Product
        </a>
      </div>

      {% with messages = get_flashed_messages() %}

      {% if messages %}

      {% for message in messages %}

      <div class="alert alert-success alert-dismissable" role="alert">

        <button type="button" class="close" data-dismiss="alert" aria-label="close">

          <span aria-hidden="true">x</span>

        </button>


        {{message}}


      </div>


      {% endfor %}

      {% endif %}
      {% endwith %}
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-striped custom-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>PRODUCT NAME</th>
                <th>REF NO</th>
                <th>UNIT PRICE</th>
                <th>STOCK QTY.</th>
                <th>UNIT</th>
                <th>STOCK STATUS</th>
                <th class="text-right">ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for row in products %}
              <tr>
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.ref_no}}</td>
                <td>{{row.price}}</td>
                <td>{{row.s_qty}}</td>
                <td>{{row.unit}}</td>

                <td>{%if row.status%}<span class="custom-badge status-green">active</span>{%else%}<span
                    class="custom-badge status-red">inactive</span>{%endif%}</td>
                <td class="text-right">
                  <div class="dropdown dropdown-action">
                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <a class="dropdown-item" href="/update/{{row.id}}" data-toggle="modal"
                        data-target="#modaledit{{row.id}}"><i class="fa fa-pencil m-r-5"></i> Edit</a>{%if row.status%}

                      <a class="dropdown-item" href="/delete/{{row.id}}" data-toggle="modal"
                        data-target="#modaldelete{{row.id}}"><i class="fa fa-trash-o m-r-5"></i>Make it
                        inactive</a>{%else%}
                      <a class="dropdown-item" href="/delete/{{row.id}}" data-toggle="modal"
                        data-target="#modaldelete{{row.id}}"><i class="fa fa-trash-o m-r-5"></i>Make it
                        active</a>{%endif%}

                    </div>
                  </div>
                </td>

                <!---Update Product Part start-->
                <div class="modal fade" id="modaledit{{row.id}}">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Update Product</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form id="updateProduct" role="form" action="/product/update/?id={{row.id}}" method="POST">
                        <div class="card-body">
                          <div class="form-group">
                            <label for="name">Product Name</label>
                            <input type="text" class="form-control" id="name" name="name"
                              placeholder="enter Product name" value="{{row.name}}">
                          </div>
                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="ref_no">Ref No</label>
                                <input type="text" class="form-control" id="ref_no" name="ref_no"
                                  placeholder="Enter Mobile Number" value="{{row.ref_no}}">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="c_qty">
                                  Qty. in crate</label>
                                <input type="text" class="form-control" id="c_qty" name="c_qty"
                                  placeholder="Enter Mobile Number" value="{{row.c_qty}}">
                              </div>
                            </div>
                          </div>

                          <div class="row">
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="price">Unit Price</label>
                                <input type="text" class="form-control" id="price" name="price"
                                  placeholder="Enter Address" value="{{row.price}}">
                              </div>
                            </div>
                            <div class="col-lg-6">
                              <div class="form-group">
                                <label for="c_price">Crate Price</label>
                                <input type="text" class="form-control" id="c_price" name="c_price"
                                  placeholder="Enter Address" value="{{row.c_price}}">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>

                      </form>
                    </div>
                    <!-- /.modal-content -->
                  </div>
                  <!-- /.modal-dialog -->
                </div>
                <!-- Product Part end-->

                <!----------------Start product Status active inactive------------------>
                <div id="modaldelete{{row.id}}" class="modal fade delete-modal" role="dialog">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-body text-center">
                        <img src="../../static/assets/img/sent.png" alt="" width="50" height="46">
                        <h3>Are you sure want to inactive this product?</h3>
                        <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                          <button type="button" class="btn btn-danger"
                            onclick="location.href='/product/status/?id={{row.id}}'">INACTIVE</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!----------------End product Status active inactive------------------>

              </tr>
              <tr>

                {% endfor %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}